# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
*.dll
*.exe
*.pdb
*.cache

# NuGet Packages
*.nupkg
*.snupkg
packages/

# macOS
.DS_Store

# Android
*.apk
*.aab
*.dex
*.class

# iOS
*.ipa
*.dSYM/
xcuserdata/
